#container {
  text-align: center;

  .logo{
    width: 15vh;
    text-align: center;
    margin: 5vh auto;
    vertical-align: top;
  }


}

ion-content.background{
  --background: none;
  background: url(/assets/images/design.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 100%;
}
