/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-header.header-md ion-toolbar:first-child {
  padding-top: 20px;
}

.demo-text{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgba(255,200,200);
}

.heading {
    font-size: 25px;
    text-align: left;
    font-weight: 700;
    color: #2a2a2a;
    white-space: nowrap;
    display: flex;
    font-style: bold;
    padding-left: 50px;
}

.sub-text {
    font-size: medium;
    text-align: left;
    font-weight: 200;
    color: #2a2a2a;
    display: block;
    a {
        text-decoration-line: none;
    }
}
.item-pad{
    padding: 10px 50px 10px 50px;
}
.item-mar{
    margin: 20px 50px 20px 50px;
}
.text-black{
  color: #2a2a2a;
}

.pad-15{
  padding: 15px;
}
.pad-20-0{
  padding: 20px 0;;
}

.text-label{
    font-weight: 400;
    text-align: left;
    font-size: 12px;
}

.text-cen{
    text-align: center!important;
}

.dis-flex{
    display: flex;
}

.text-input {
    padding: 0 50px!important;
    input{
        padding: 15px 10px!important;
        text-align: left!important;
        background: #f7f7f7!important;
        border-radius: 10px!important;
    }
}

@font-face {
    font-family: 'PTSans';
    font-style: regular;
    src: url('assets/fonts/PT_Sans/PTSans-Regular.ttf'); 
  }
  @font-face {
    font-family: 'FiraSans';
    font-weight: 700;
    src: url('assets/fonts/FiraSans/FiraSans-Bold.ttf'); 
  }
  @font-face {
    font-family: 'FiraSans';
    font-weight: 900;
    src: url('assets/fonts/FiraSans/FiraSans-Black.ttf'); 
  }
  @font-face {
    font-family: 'FiraSans';
    font-weight: 200;
    src: url('assets/fonts/FiraSans/FiraSans-Light.ttf'); 
  }
  @font-face {
    font-family: 'FiraSans';
    font-weight: 400;
    src: url('assets/fonts/FiraSans/FiraSans-Medium.ttf'); 
  }
  @font-face {
    font-family: 'FiraSans';
    font-weight: 300;
    src: url('assets/fonts/FiraSans/FiraSans-Regular.ttf'); 
  }

  
  * {
    font-family: 'FiraSans';
  }

  .my-header{
    --background: none;
    background: url(/assets/images/design-rotated.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 100% 62%;
    ion-title {
        font-weight: 700;
    }

}


.rotate {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }