ion-card-subtitle {
        margin-top: 10px;
        font-weight: 300;
    
}
.btn-ctr{
    display: grid;
    color: black;
    line-height: 30px;
    img{
        height: 50px;
        margin: auto;
    }
}
ion-badge{
    margin: 0 auto;
    font-size: 16px;
}

ion-card-header.ios, ion-card-content.ios {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
ion-badge{
    font-size: 14px;
}
ion-card-title.ios{
    font-size: 23px;;
}
ion-tab-bar.ios {
    padding-bottom: 0;
    --border: none;
    border: none;
}
ion-tabs.ios{
    position: initial;
}
