ion-card-subtitle {
        margin-top: 10px;
        font-weight: 300;
    
}
.btn-ctr{
    display: grid;
    color: black;
    line-height: 30px;
    img{
        height: 30px;
        margin: auto;
    }
}
ion-badge{
    margin: 0 auto;
    font-size: 16px;
}